.DS_Store
node_modules/
npm-debug.log
dist/*
.idea
coverage/

__pycache__/
*.py[cod]
*$py.class
/QA/**/.cache/

/QA/results/
/QA/tests_shi/results/
/QA/tests_shi/results_archive/
/QA/tests_shi/geckodriver.log

yarn-error.log
jsdoc-out